.card {
    width: toRem(240);
    padding: toRem(25);

    //   Card hover
    //   On card hover we apply box-shadow style
    &:hover {
        box-shadow: $resultsCard-shadow;
    }

    h6 {
        color: $dark-pink;
        letter-spacing: toRem(0.2);
        padding-bottom: toRem(10);
    }
}