/*
*   About
*   Style for class about and its child elements
*/
.about {
    padding: 80px 0;

    &__introblocks {
        @extend %flex-between;
        position: relative;
        margin: toRem(-280) 0 0 0;
        z-index: 1;
        text-align: $primary-align;
    }

    &__results {
        @extend %flex-between;

        //  Left part of results
        //   Contains image which includes default border placehoder 
        &-left {
            padding: toRem(15);
            @extend %border;
        }

        //   Right part of results
        //   Contains grid with 2 elements in row
        &-right {
            @include grid(toRem(289) toRem(289));
        }
    }
}