/*
*   Pageintro
*   Style for class pageintro and its child elements
*/
.pageintro {
    padding: toRem(200) 0 toRem(400);
    @include breakpoint(sm) {
        padding: toRem(100) 0 toRem(300);
    }

    @include breakpoint(md) {
        padding: toRem(150) 0 toRem(350);
    }
    & article {
        display: block;
        max-width: 75%;
        margin: $mx-auto;
        text-align: $primary-align;

        h3 {
            margin-bottom: toRem(20);
        }

        @include breakpoint(sm) {
            span {
                display: none;
            }
        }

        @include breakpoint(md) {
            span {
                display: none;
            }
        }

        p {
            max-width: 65%;
            line-height: toRem(32);
            margin: $mx-auto;
        }

        footer {
            margin-top: toRem(50);
        }
    }
}