/*
*   Import of
*   variables
*   mixins
*   placeholders
*/
@import '_variables';
@import '_mixins';
@import '_placeholders';

/*
*   Function
*   Letter spacing converter
*/
@function ls($name) {
    $value: map_get($ls, $name);
    @return ($value / 1000) * 1em;
}

/*
*   Function
*   Font convert from px to rem
*/
@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

/*
*   List
*   Letter spacing
*/
$ls: (base: -10,
    heading: 10,
    button: 5,
);

/*
*   Base style
*/
body {
    @include font-style($fontSize: toRem(16));
}


* {
    padding: 0;
    margin: 0;
}


/*
*   Transition
*   Default transition for all elements and pseudo-elements
*/
*,
*::before,
*::after {
    transition: all .3s ease-in-out;
}

/*
*   Extend (placeholders)
*   Example of extending placeholder that is same for more classes
*/
hr {
    margin: toRem(80) 0;
    @extend %border;
}

/*
*   Include (mixins)
*   Example of including mixins that have different parameters
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-style($fontFamily: "Georgia, Times New Roman, Times, serif",
        $fontWeight: normal,
        $color: $white,
        $lineHeight: normal,
        $letterSpacing: ls(heading),
    );
}

/*
*   Function
*   Example of using function that converts font-size from px to rem
*/
h1 {
    font-size: toRem(35.2);
}

h2 {
    font-size: toRem(32);
}

h3 {
    font-size: toRem(64);
}

h5 {
    font-size: toRem(22.4);
}

h6 {
    font-size: toRem(19.2);
}

ul {
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
    color: $white;
}

div {
    position: relative;
}

/*
*   Header active link
*   When link is active, font color is #{$dark-pink}
*/
.activeLink {
    color: $dark-pink;
}

/*
*   Button
*   Example of BEM Elements/Modifers
*/
.btn {
    @include border(1px, solid, transparent, 10px);
    display: inline-block;
    text-transform: uppercase;
    padding: toRem(8) toRem(18) toRem(10);
    letter-spacing: ls(button);
    background-color: $dark-pink;
    color: $white;

    //   Hover btn
    //   Style that applies when btn is hovered
    &:hover {
        background-color: transparent;
    }

    //   Modifers
    //   Classes that are use to modify main class
    &.btn-primary {
        &:hover {
            border-color: $white;
        }
    }

    &.btn-secondary {
        &:hover {
            border-color: $dark-pink;
            color: $dark-pink;
        }
    }
}

/*
*   Wrapper
*   Style for class wrapper and its child elements
*/
.wrapper {
    position: relative;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    color: $white;

    &.row0 {
        background-color: $main-bg;
    }

    &.row1 {
        background-color: rgba(0, 0, 0, .75);
    }

    &.row3 {
        background-color: $white;
        color: $dark-gray;
    }
}

.hoc {
    display: block;
    margin: 0 auto;
    max-width: toRem(1140);
}

.clear {
    &::after {
        clear: both;
        display: block;
    }
}

.clear::before,
.clear::after {
    display: table;
    content: "";
}

/*
*   Background style
*   Default behaviour of bgeded sections
*/
.bgded {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
*   Topbar
*   Style for class topbard and its child elements
*/
.topbar {
    padding: toRem(20) 0;
    font-size: toRem(12.8);
    text-transform: uppercase;

    & i {
        line-height: normal;
    }

    & ul li {
        margin-right: toRem(15);
        display: inline-block;
    }

    &__left {
        & li {
            float: left;
            font-size: toRem(11.2);
        }

        & i {
            margin-right: toRem(5);
        }
    }

    &__right {

        &-icon {
            float: right;
            font-size: toRem(16);
            color: $dark-pink;
        }

        & li:nth-child(1) {
            margin-right: 0;
        }

    }
}

/*
*   Header
*   Style for class header and its child elements
*/
.header {

    & ul li {
        margin-right: toRem(15);
    }

    &__left {
        & li {
            float: left;
            margin-top: toRem(20);
        }
    }

    &__right {
        & li {
            float: right;
            text-transform: uppercase;
            font-size: toRem(14.4);

            & a {
                display: block;
                padding: toRem(30) 0;

                &:hover {
                    color: $dark-pink;
                }
            }

            &:nth-child(1) {
                margin-right: 0;
            }
        }
    }
}

/*
*   Overlay
*   Style for class overlay and its child elements
*/
.overlay {
    color: $white;
    background-color: inherit;
    position: relative;
    z-index: 1;

    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
        color: inherit;
        background-color: rgba(0, 0, 0, .55);
    }
}

/*
*   Pageintro
*   Style for class pageintro and its child elements
*/
.pageintro {
    padding: toRem(200) 0 toRem(400);

    & article {
        display: block;
        max-width: 75%;
        margin: 0 auto;
        text-align: center;

        & h3 {
            margin-bottom: toRem(20);
        }

        & p {
            max-width: 65%;
            line-height: toRem(32);
            margin: 0 auto;
        }

        & footer {
            margin-top: toRem(50);
        }
    }
}


/*
*   About
*   Style for class about and its child elements
*/
.about {
    padding: 80px 0;

    &__introblocks {
        @extend %flex-between;
        position: relative;
        margin: toRem(-280) 0 0 0;
        z-index: 1;
        text-align: center;

        & figure {
            width: toRem(348);
            text-align: center;
            display: block;
            position: relative;

            & figcaption {
                position: absolute;
                bottom: toRem(6);
                width: 100%;
                color: $white;
                background-color: rgba(0, 0, 0, .55);
                max-height: toRem(50);
                overflow: hidden;

                & h6 {
                    padding: toRem(14) 0;
                    font-weight: 700;
                    line-height: 1;
                }

                //  Hidden text in figcaption
                & div {
                    & p {
                        padding: 0 toRem(14) toRem(14);
                    }
                }

                //   Hover over figcaption
                //   Show hidden text 
                &:hover {
                    max-height: 100%;
                }

            }
        }
    }

    &__results {
        @extend %flex-between;

        //  Left part of results
        //   Contains image which includes default border placehoder 
        &-left {
            padding: toRem(15);
            @extend %border;
        }

        //   Right part of results
        //   Contains grid with 2 elements in row
        &-right {
            @include grid(toRem(289) toRem(289));

            & .card {
                width: toRem(240);
                padding: toRem(25);

                //   Card hover
                //   On card hover we apply box-shadow style
                &:hover {
                    box-shadow: $resultsCard-shadow;
                }

                h6 {
                    color: $dark-pink;
                    letter-spacing: toRem(0.2);
                    padding-bottom: toRem(10);
                }
            }
        }
    }
}

/*
*   Gallery
*   Style for class gallery and its child elements
*/
.gallery {
    padding: toRem(80) 0;

    //   Gallery title
    //   Style for title of gallery
    &__title {
        text-align: center;
        padding-bottom: toRem(80);

        & .heading {
            display: inline-block;
            position: relative;
            padding: 0px 0px toRem(15);
        }
    }

    //   Gallery grid
    //   Contains grid with 3 elements in row
    &__grid {
        @include grid(toRem(348) toRem(348) toRem(348), toRem(50), toRem(50));

        //   Item
        &-item {

            //  Overlay for image
            //  Hovering over gallery img will show this overlay
            span.img-overlay {
                background: $dark-pink;
                opacity: 0.4;
                display: none;
                height: calc(100% - 6px);
                width: 100%;
                top: 0;
                position: absolute;

                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f067";
                    color: $white !important;
                    opacity: 1 !important;
                    font-size: toRem(40);
                    top: 50%;
                    left: 45%;
                    transform: translate(-50%, -45%);
                    position: relative;
                    text-align: center;
                }
            }

            &:hover span.img-overlay {
                display: block;
                cursor: pointer;
            }
        }
    }
}

/*
*   Team
*   Style for class team and its child elements
*/
.team {
    padding: 80px 0;

    & .gallery__title h2 {
        color: $black;
    }

    //  Team grid
    //  Contains grid with 4 items in row
    &__grid {
        @include grid(toRem(250) toRem(250) toRem(250) toRem(250), toRem(50), toRem(50));

        //  Item
        //  Item is contained of img and figcaption
        &-item {
            width: 100%;
            text-align: center;
            display: block;
            position: relative;

            //  Image style
            & img {
                width: toRem(250);
            }

            //  Figcaption 
            //  Contains heading (user name) + paragraph (occupation)
            & figcaption {
                width: 100%;
                color: $black;
                margin-top: toRem(-6);
                box-shadow: $caption-shadow;

                & h6 {
                    padding: toRem(30) 0 0;
                    font-weight: 700;
                    line-height: 1;
                    color: $black;
                }

                & p {
                    padding: toRem(5) 0 toRem(30);
                }
            }
        }
    }
}

/*
*   Products
*   Style for class products and its child elements
*/
.products {
    padding: 80px 0;

    & .gallery__title h2 {
        color: $black;
    }

    //  Products grid
    //  Contains grid with 4 items in row
    &__grid {
        @include grid(toRem(249) toRem(249) toRem(249) toRem(249), toRem(50), toRem(50));
    }
}

/*
*   You said
*   Style for class yousaid and its child elements
*/
.yousaid {
    padding: toRem(80) 0;

    // Block 
    &__block {
        //  Quote of block
        //  Contains sentence which appears in cloud
        &-quote {
            padding: toRem(20);
            border-radius: toRem(10);
            background-color: rgba(255, 255, 255, .5);
            text-align: center;
            font-size: toRem(20);
            line-height: toRem(32);
            position: relative;

            // Quote 
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: toRem(20) solid transparent;
                border-right: toRem(20) solid transparent;
                left: 48.4%;
                bottom: toRem(-20);
                border-top: toRem(20) solid rgba(255, 255, 255, .5);
            }
            
            // Apostrophe images
            & img {
                position: absolute;
                left: toRem(20);
                top: toRem(20);
                width: toRem(50);
                height: toRem(60);
                z-index: -1;
            }

            & img:nth-child(2) {
                left: toRem(80);
            }
        }

        //  User part of quote
        &-user {
            padding-top: toRem(50);
            width: 100%;
            text-align: center;

            & img,
            p,
            span {
                display: block;
                margin: 0 auto;
            }

            //  User image
            & img {
                border-radius: toRem(50);
            }

            //  User name
            & p {
                padding-top: toRem(10);
                font-size: toRem(18);
                font-weight: 600;
            }

            // User occupation
            & span {
                font-style: italic;
            }


            // Read more button
            & a {
                margin-top: toRem(50);
            }
        }
    }
}

/*
*   Blog
*   Style for class blog and its child elements
*/
.blog {
    padding: toRem(80) 0;

    & .gallery__title h2 {
        color: $black;
    }

    &__grid {
        @include grid(toRem(348) toRem(348) toRem(348), toRem(50), toRem(50));

        &-item {

            & figcaption {
                @extend %flex-between;
                margin-top: toRem(-7);
                width: 100%;
                color: $white;
                background-color: $black;
                padding: toRem(10) 0;

                & h6 {
                    padding-left: toRem(10);
                    font-size: toRem(14);
                    line-height: toRem(22);
                }

                & span {
                    padding-right: toRem(10);
                    font-size: toRem(12);
                }

                & i {
                    margin-right: toRem(5);
                }
            }

            & footer {
                padding: toRem(30) 0;
                @extend %flex-between;

                & .date {
                    padding: toRem(10) toRem(15);
                    text-align: center;
                    background-color: $light-gray;
                    height: fit-content;

                    & p {
                        color: darken($light-gray, 40%);
                        font-weight: 700;
                        font-size: toRem(20);
                    }

                    & hr {
                        margin: toRem(10) 0;
                    }
                }

                & .description {
                    padding-left: toRem(10);

                    & h6 {
                        color: black;
                    }

                    & p {
                        margin-top: toRem(10);
                    }
                }
            }

        }


    }
}

/*
*   Contact
*   Style for class contact and its child elements
*/
.contact {
    padding: 80px 0;

    &__grid {
        @include grid(toRem(249) toRem(249) toRem(249) toRem(249), toRem(50), toRem(50), space-between);

        &-item {
            @include flex(row);

            & i {
                font-size: toRem(18);
                @include border(1px, solid, $light-pink, toRem(50));
                color: $light-pink;
                padding: toRem(15);
            }

            &-content {
                padding: toRem(5) 0 0 toRem(20);
                @include flex(column);
                color: $white;

                & p {
                    font-weight: 700;
                }
            }
        }
    }
}


/*
*   Footer
*   Style for class footer and its child elements
*/
.footer {
    @include flex(row, space-between);

    padding: toRem(10) 0;
    color: $light-gray;

    & i {
        color: $dark-red;
    }
}