@import '_variables';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    background-color: $main-bg;
}

*,
*::before,
*::after {
    transition: all .3s ease-in-out;
}

hr {
    margin: 80px 0;
    border: 0.5px solid #D7D7D7;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
div,
figure {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: $white;
    text-transform: capitalize;
    line-height: normal;
    font-weight: normal;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 4rem;
}

h6 {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
    color: $white;
}

.activeLink {
    color: $pink;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 18px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: $pink;
    border-image: initial;
    background-color: $pink;
    color: $white;

    &:hover {
        background-color: transparent;
        border-color: $white;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    color: $white;

    &.row0 {
        background-color: $main-bg;
    }

    &.row1 {
        background-color: rgba(0, 0, 0, .75);
    }

    &.row3 {
        background-color: $white;
        color: #474747;
    }
}

.hoc {
    display: block;
    margin: 0 auto;
    max-width: 1140px;
}

.clear {
    &::after {
        clear: both;
        display: block;
    }
}

.clear::before,
.clear::after {
    display: table;
    content: "";
}

.bgded {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topbar {
    padding: 20px 0;
    font-size: .8rem;
    text-transform: uppercase;

    & i {
        line-height: normal;
    }

    & ul li {
        margin-right: 15px;
        display: inline-block;
    }

    &__left {
        & li {
            float: left;
            font-size: 0.7rem;
        }

        & i {
            margin-right: 5px;
        }
    }

    &__right {

        &-icon {
            float: right;
            font-size: 1rem;
            color: $pink;
        }

        & li:nth-child(1) {
            margin-right: 0px;
        }

    }
}

.header {

    & ul li {
        margin-right: 15px;
    }

    &__left {

        & li {
            float: left;
            margin-top: 20px;
        }
    }

    &__right {
        & li {
            float: right;
            text-transform: uppercase;
            font-size: 0.9rem;
        }

        & li a {
            display: block;
            padding: 30px 0;
        }

        & li:nth-child(1) {
            margin-right: 0px;
        }

    }
}

.overlay {
    color: $white;
    background-color: inherit;
    position: relative;
    z-index: 1;

    &::after {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
        color: inherit;
        background-color: rgba(0, 0, 0, .55);
    }
}

.pageintro {
    padding: 200px 0 400px;

    & article {
        display: block;
        max-width: 75%;
        margin: 0 auto;
        text-align: center;

        & h3 {
            margin-bottom: 20px;
        }

        & p {
            max-width: 65%;
            line-height: 2rem;
            margin: 0 auto;
        }

        & footer {
            margin-top: 50px;
        }
    }
}

.about {
    padding: 80px 0;

    &__introblocks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin: -280px 0 0 0;
        z-index: 1;
        text-align: center;

        & figure {
            width: 348px;
            text-align: center;
            display: block;
            position: relative;

            & figcaption {
                position: absolute;
                bottom: 6px;
                width: 100%;
                color: $white;
                background-color: rgba(0, 0, 0, .55);

                & h6 {
                    padding: 20px 0;
                    font-weight: 700;
                    line-height: 1;
                }
            }
        }
    }

    &__results {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-left {
            padding: 15px;
            border: 0.5px solid #D7D7D7;
        }

        &-right {
            display: grid;
            grid-template-columns: 289px 289px;

            & .card {
                width: 240px;
                padding: 25px;

                &:hover {
                    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
                }

                h6 {
                    color: $pink;
                    letter-spacing: 0.2px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.gallery {
    padding: 80px 0;

    &__title {
        text-align: center;
        padding-bottom: 80px;

        & .heading {
            display: inline-block;
            position: relative;
            padding: 0px 0px 15px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 348px 348px 348px;
        row-gap: 50px;
        column-gap: 50px;
    }
}

.team {
    padding: 80px 0;

    & .gallery__title h2 {
        color: #000;
    }

    &__grid {
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        row-gap: 50px;
        column-gap: 50px;

        &-item {
            width: 100%;
            text-align: center;
            display: block;
            position: relative;

            & img {
                width: 250px;
            }

            & figcaption {
                width: 100%;
                color: #000;
                margin-top: -6px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                & h6 {
                    padding: 30px 0 0;
                    font-weight: 700;
                    line-height: 1;
                    color: #000;
                }

                & p {
                    padding: 5px 0 30px;
                }
            }
        }
    }
}

.products {
    padding: 80px 0;

    & .gallery__title h2 {
        color: #000;
    }

    &__grid {
        display: grid;
        grid-template-columns: 249px 249px 249px 249px;
        row-gap: 50px;
        column-gap: 50px;

    }
}

.yousaid {
    padding: 80px 0;

    &__block {
        &-quote {
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(255,255,255,.5);
            text-align: center;
            font-size: 20px;
            line-height: 32px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 0; 
                height: 0; 
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                left: 48.4%;
                bottom: -20px;
                border-top: 20px solid rgba(255,255,255,.5);
            }

            & img {
                position: absolute;
                left: 20px;
                top: 20px;
                width: 50px;
                height: 60px;
                z-index: -1;
            }

            & img:nth-child(2) {
                left: 80px;
            }
        }

        &-user { 
            padding-top: 50px;
            width: 100%;
            text-align: center;

            & img, p, span {
                display: block;
                margin: 0 auto;
            }

            & img {
                border-radius: 50px;
            }

            & p {
                padding-top: 10px;
                font-size: 18px;
                font-weight: 600;
            }

            & span {
                font-style: italic;
            }

            & a {
                margin-top: 50px;
            }
        }
    }
}

.contact {
    padding: 80px 0;
    
    &__grid {
        display: grid;
        grid-template-columns: 249px 249px 249px 249px;
        row-gap: 50px;
        justify-content: space-between;
        &-item {
            display: flex;
            flex-direction: row;
        
            & i {
                font-size: 18px;
                border-radius: 50px;
                border: 1px solid #D099D5;
                color: #D099D5;
                padding: 15px;
            }

            &-content {
                padding: 5px 0 0 20px;
                display: flex;
                flex-direction: column;
                color: $white;

                & p {
                font-weight: 700;
                }
            }
        }
    }
}