/*
*   Footer
*   Style for class footer and its child elements
*/
.footer {
    @include flex($primary-direction, space-between);
    flex-wrap: wrap;
    padding: toRem(10);
    color: $light-gray;

    i {
        color: $dark-red;
    }
}