/*
*   Wrapper
*   Style for class wrapper and its child elements
*/
.wrapper {
    position: relative;
    width: 100%;
    text-align: $secondary-align;
    word-wrap: break-word;
    color: $white;

    &.row0 {
        background-color: $main-bg;
    }

    &.row1 {
        background-color: rgba(0, 0, 0, .75);
    }

    &.row3 {
        background-color: $white;
        color: $dark-gray;
    }
}